@use './variaveis';

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: variaveis.$gradiente-primario ;
    background-image: url(/assets/imgs/bg/bg.jpg);
    background-position: center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

