@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;800&display=swap');
// Variaveis
    //cores
    $cor-primaria: #072152;
    $cor-secundaria: #18b0b0 ;
    $cor-terciaria: #0380aa;
    $cor-quarternaria: #fcf1cc;
    $cor-branco: #fff;
    $cor-preto: #000;
    $cor-default: #f9a553;
    $gradiente-primario: linear-gradient(to bottom, #70e7dc, #70e7dc, #08c7db, #03bad6, #0380aa);
    //fontes
    $ft-textos: "Poppins", sans-serif;
    $ft-titulos: "Lobster", sans-serif;
