@use '../abstract/variaveis';
@use '../abstract/mixins';

.contato{
    @include mixins.bg-bi(variaveis.$gradiente-primario);
    background-attachment: fixed;
    transition: 3s;
    padding: 2rem .5rem;
    grid-area: contato;
    background-repeat: repeat-x;
    background-position: bottom right;
    .contato__elementos{
        @include mixins.ds-fd-ai-jc(flex, row);
        background: rgba(0, 47, 78, .73);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(2.4px);
        -webkit-backdrop-filter: blur(2.4px);
        border: 1px solid rgba(255, 255, 255, 0.11);
        height: 100%;
        width: 100%;
    }
}