@use '../abstract/variaveis';
@use '../abstract/mixins';

header{
    padding: 0 2rem;
    gap: 10vw;
    align-items: center;
    justify-content: start;
    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .cabecalho__logo{
            cursor: pointer;
            @include mixins.ff-fs-cl(variaveis.$ft-titulos, 3rem, variaveis.$cor-primaria);
        }
        .cabecalho__nav__list{
            @extend nav;
            gap: 2rem;
            list-style-type: none;
            .cabecalho__nav__list-item{
                .cabecalho__nav__list-link{
                    text-decoration: none;
                    @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2rem, variaveis.$cor-primaria);
                    &:hover{
                        font-weight: 600;
                    }
                }
            }
        }
        .cabecalho__nav_btn-ticket{
            padding: .5rem 3rem;
            border-radius: 16px;
            @include mixins.ff-fs-cl(variaveis.$ft-textos, 1.2rem, variaveis.$cor-branco);
            background: variaveis.$cor-secundaria;
            text-transform: uppercase;
            font-weight: 500;
            text-decoration: none;
            &:hover{
                color: variaveis.$cor-preto;
                background-color: variaveis.$cor-default;;
            }
        }
        
    }
}